.container {
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 0.5rem;
    overflow: hidden;
    align-self: flex-start;
}

.accordion {
    width: 100%;
    background-color: var(--color-surface);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    text-align: left;
    align-items: center;
    border: none;
}

.header {
    font-size: medium;
    font-weight: 600;
    color: var(--color-text);
}

.icon {
    margin-left: auto;
    color: var(--color-text)
}

.content {
    position: relative;
    background-color: var(--color-surface);
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

.content.open {
    padding: 1rem;
    max-height: 500px;
}

.container:hover:not(:has(.content.open)) {
  border-color: var(--color-primary);
}