.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.label {
    color: var(--color-text);
    margin-bottom: 0.25rem;
    font-size: small;
}

.description {
    font-size: x-small;
    color: var(--color-text-secondary);
    margin-bottom: 0.25rem;
}