.floatingButton {
    position: fixed;
    bottom: calc(2rem + env(safe-area-inset-bottom, 0));
    right: calc(2rem + env(safe-area-inset-right, 0));
    z-index: 998;
    background: var(--color-primary);
    color: white;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 769px) {
    .floatingButton {
        display: none;
    }
}