.topnavContainer {
    position: sticky;
    top: 0;
    width: 100%;
    padding-left: 0.5rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background);
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-self: start;
}

.search {
    justify-self: center;
    width: 100%;
    max-width: 400px;
}

.themeToggler {
    justify-self: end;
}