.box {
    display: flex;
    width: 100%;
    gap: 1rem;
}

/* --- VERTICAL LOGIC --- */
.box[data-direction="vertical"] {
    flex-direction: column;
}
.box[data-direction="vertical"][data-position="left"]   { align-items: flex-start; }
.box[data-direction="vertical"][data-position="center"] { align-items: center; }
.box[data-direction="vertical"][data-position="right"]  { align-items: flex-end; }
/* Reverse direction */
.box[data-direction="vertical"][data-reverse="true"] { flex-direction: column-reverse; }
.box[data-direction="vertical"][data-reverse="true"] { flex-direction: column-reverse; }


/* --- HORIZONTAL LOGIC --- */
.box[data-direction="horizontal"] {
    flex-direction: row;
    align-items: center; 
}
.box[data-direction="horizontal"][data-position="left"]   { justify-content: flex-start; }
.box[data-direction="horizontal"][data-position="center"] { justify-content: center; }
.box[data-direction="horizontal"][data-position="right"]  { justify-content: flex-end; }
/* Reverse direction */
.box[data-direction="horizontal"][data-reverse="true"][data-position="left"] { justify-content: flex-end; flex-direction: row-reverse; }
.box[data-direction="horizontal"][data-reverse="true"][data-position="right"] { justify-content: flex-start; flex-direction: row-reverse; }

