.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box[data-position = "center"] {
    align-items: center;
}

.box[data-position = "left"] {
    align-items: flex-start;
}

.box[data-position = "right"] {
    align-items: flex-end;
}