.box {
    display: flex;
    width: 100%;
}

.box[data-position = "center"] {
    justify-content: center;
}

.box[data-position = "left"] {
    justify-content: flex-start;
}

.box[data-position = "right"] {
    justify-content: flex-end;
}